.card{
    width: 102px;
    height: 152px;
    /* background-image: url("https://x.boardgamearena.net/data/themereleases/current/games/tichu/210609-1237/img/tichu-cards.png"); */
    background-image: url("../assets/tichucards.png");
    background-position: -1000% 0%;
}