body {
  background-color: gray
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

h2 {
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.alert {
  border-style: solid;
  border-color: black;
  color: red;
  background-color: white;
}

.message {
  border-style: solid;
  border-color: black;
  color: green;
  background-color: white;
}

.player {
  font-size: large;
}

.grid-container {
  display: grid;
  place-items: center;
  row-gap: 15px;
  column-gap: 60px;
  grid-template-rows: [line1] auto [line2] 192px [line3] auto;
}

.read-the-docs {
  color: #888;
}

.pass-button {
  margin-left: 30px;
}

.line {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 2px;
  border-bottom: 1px solid black;
  width: 100%;
}

.hovertext {
  visibility: hidden;
}

.play-button:hover ~ .hovertext {
  visibility: visible;
  color: darkred;
}